.file_node{
    background-color: lightsalmon;
}

.link_node{
    background-color: aquamarine;
}

.text_node{
    background-color: lightskyblue;
}

.node{
    height: 100%;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 5px;

}